<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Press+Start+2P|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <title>hamburguesas galore!</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="/assets/img/burger.jpg" class="img-fluid">
            <h1 class="display-4 text-center">eat-the-hamburger-dude</h1>
        </div>
    </div>
    {{{ body }}}
</body>

</html>
