<div class="row">
  <div class="col-sm-12 col-md-6">
    <ul class="list-group">
      {{#each burgs}} {{#unless this.devoured }}
      <li class="list-group-item">
        <a href='/index/{{this.id}}' class="btn btn-info btn-sm">Eat!</a> &nbsp;&nbsp; {{ this.burger_name }} created on {{ date }}</li>
      {{/unless}} {{/each}}
      </sul>
  </div>
  <div class="col-sm-12 col-md-6">
    <ul class="list-group">
      {{#each burgs }}
        {{#if this.devoured }}
          <li id="devoured" class="list-group-item disabled"><a href='#' class="btn btn-warning btn-sm disabled">Devoured!</a> &nbsp;&nbsp; {{ this.burger_name }}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
